<!--コメント一覧を部分テンプレート化（非同期通信用いて実装）-->

<table>
  <tbody>
<!--一つの本 その本の全てのコメント-->
    <% book.book_comments.each do |book_comment| %>
      <tr>
<!--余白の<td></td>-->
        <td colspan="5"></td>
        <td>
          <%= link_to user_path(book_comment.user) do %>
            <%= image_tag book_comment.user.get_profile_image, size:'80x80' %><br>
            <%= book_comment.user.name %>
          <% end %>
        </td>
        <td>
          <%= book_comment.comment %>
        </td>
        <td>
<!--コメントをしたユーザ以外にはDestroyボタン表示しない記述-->
          <% if book_comment.user == current_user %>
<!--(@book=book_idのこと) book_comment#destroyのパス（book_book_comment_path）-->
  <!--remote: true=非同期通信行うためのオプション（Railsはデフォルトで非同期通信を処理するライブラリが組み込まれているので実装時ページがリロードされず変更を反映できる）-->
            <%= link_to "Destroy", book_book_comment_path(book, book_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger float-end", remote: true %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--model/user.rbのget_profile_imageに合わせる（100,100）を, size:'100x100'に変更-->
    <!--<td><%#= image_tag book_comment.user.get_profile_image, size:'100x100' %></td>-->
<!--コメントしたのがログインユーザなら削除ボタン表示で削除できる記述-->
<!--削除後は投稿詳細(books/show)へリダイレクトされる記述-->
  <%#= link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete %>
