<!--ユーザ一覧画面（Usersの箇所）記述場所-->
<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
  <!--ユーザ一覧画面にフォロー数・フォロワー数表示ボタン記述-->
        <td>フォロー数:<%= book.users_followeds.count %></td>
        <td>フォロワー数:<%= book.users_followers.count %></td>
  <!--フォローする・フォロー外すボタンリンク記述-->
        <td><%= link_to book.user_followed %></td>
        <td></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
