<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Book</h1>
<!--本の更新失敗時にエラー文表示記述-->
  		<% if @book.errors.any? %>
  		  <%= @book.errors.count %>
  		    <ul>
  		      <% @book.errors.full_messages.each do |message| %>errors prohibited this obj from being saved:
  		        <li><%= message %></li>
  		      <% end %>
  		    </ul>
  		<% end %>
  		<!--books/追記-->
  		<%= render 'books/form', book: @book %>
  		<%= link_to 'Show', @book %> |
  		<%= link_to 'Back', books_path, class: "back" %>
  </div>
</div>